<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!--</databaseConnection>-->
	<appSettings>
		<add key="Host" value="localhost" />
		<add key="Port" value="1433" />
		<add key="DatabaseName" value="Demo" />
		<add key="DatabaseName_Second" value="Permission" />
		<add key="Login" value="Demo" />
		<add key="Password" value="Start123" />
		<!--databaseConnection-->

		<!--logsPath-->
		<add key="LogsPath" value="D:/Logs/Demo" />
		<!--logsPath-->
	</appSettings>
	<system.webServer>
		<!--<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\Demo.API.dll" stdoutLogEnabled="true"
		            stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />-->
	</system.webServer>
</configuration>